In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

# Obtain dataset per country

In [5]:
variables = ['Poverty headcount ratio at $5.50 a day (2011 PPP) (% of population)',
'Vulnerable employment, total (% of total employment) (modeled ILO estimate)',
'Wage and salaried workers, total (% of total employment) (modeled ILO estimate)',
'Prevalence of undernourishment (% of population)',
'Crop production index (2014-2016 = 100)',
'Prevalence of obesity, male (% of male population ages 18+)',
'Prevalence of obesity, female (% of female population ages 18+)',
'Prevalence of anemia among children (% of children under 5)',
'Life expectancy at birth, total (years)',
'Birth rate, crude (per 1,000 people)',
'Hospital beds (per 1,000 people)',
'Current health expenditure (% of GDP)',
'Domestic general government health expenditure (% of current health expenditure)',
'Suicide mortality rate (per 100,000 population)',
'Population ages 65 and above (% of total population)',
'Population, total',
'Population growth (annual %)',
'Educational attainment, at least completed lower secondary, population 25+, total (%) (cumulative)',
'PISA: Mean performance on the science scale',
'PISA: Mean performance on the mathematics scale',
'PISA: Mean performance on the reading scale',
'Current education expenditure, total (% of total expenditure in public institutions)',
'Government expenditure on education, total (% of GDP)',
'Population, female (% of total population)',
'School enrollment, tertiary (gross), gender parity index (GPI)',
'Labor force, female (% of total labor force)',
'There is legislation specifically addressing domestic violence (1=yes; 0=no)',
'Law prohibits discrimination in employment based on gender (1=yes; 0=no)',
'People using safely managed sanitation services (% of population)',
'People using safely managed drinking water services (% of population)',
'Access to electricity (% of population)',
'Adjusted savings: energy depletion (% of GNI)',
'Unemployment, total (% of total labor force) (modeled ILO estimate)',
'Share of youth not in education, employment or training, total (% of youth population)',
'Part time employment, total (% of total employment)',
'Adjusted savings: net national savings (% of GNI)',
'Central government debt, total (% of GDP)',
'GDP (current US$)',
'GDP per capita (current US$)',
'GNI (current US$)',
'GNI per capita growth (annual %)',
'Current account balance (BoP, current US$)',
'Inflation, consumer prices (annual %)',
'Industry (including construction), value added (% of GDP)',
'Research and development expenditure (% of GDP)',
'Refugee population by country or territory of asylum',
'Gini index (World Bank estimate)',
'Population living in slums (% of urban population)',
'Urban population (% of total population)',
'PM2.5 air pollution, population exposed to levels exceeding WHO guideline value (% of total)',
'Adjusted savings: particulate emission damage (% of GNI)',
'Renewable energy consumption (% of total final energy consumption)',
'Total greenhouse gas emissions (kt of CO2 equivalent)',
'CO2 emissions (kt)',
'Adjusted savings: carbon dioxide damage (% of GNI)',
'Marine protected areas (% of territorial waters)',
'Total fisheries production (metric tons)',
'Aquaculture production (metric tons)',
'Agriculture, forestry, and fishing, value added (% of GDP)',
'Terrestrial protected areas (% of total land area)',
'Mortality caused by road traffic injury (per 100,000 population)',
'Children out of school (% of primary school age)',
'Strength of legal rights index (0=weak to 12=strong)',
'Net ODA provided, total (% of GNI)',
'Fixed broadband subscriptions (per 100 people)',
'Trade (% of GDP)',
'Foreign direct investment, net (BoP, current US$)',
]

In [200]:
df = pd.read_csv('Data/Sweden/indicators_swe.csv')
df

,Country Name,Country ISO3,Year,Indicator Name,Indicator Code,Value
0,#country+name,#country+code,#date+year,#indicator+name,#indicator+code,#indicator+value+num
1,Sweden,SWE,2005,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,159590
2,Sweden,SWE,2004,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,160600
3,Sweden,SWE,2003,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,161700
4,Sweden,SWE,2002,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,162800
...,...,...,...,...,...,...
74258,Sweden,SWE,1974,Travel services (% of commercial service exports),TX.VAL.TRVL.ZS.WT,12.8600823045268
74259,Sweden,SWE,1973,Travel services (% of commercial service exports),TX.VAL.TRVL.ZS.WT,12.8040973111396
74260,Sweden,SWE,1972,Travel services (% of commercial service exports),TX.VAL.TRVL.ZS.WT,12.7565982404692
74261,Sweden,SWE,1971,Travel services (% of commercial service exports),TX.VAL.TRVL.ZS.WT,12.406576980568
74262,Sweden,SWE,1970,Travel services (% of commercial service exports),TX.VAL.TRVL.ZS.WT,12.0915032679738

In [201]:
df.drop(labels=0, inplace=True)

In [202]:
df

,Country Name,Country ISO3,Year,Indicator Name,Indicator Code,Value
1,Sweden,SWE,2005,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,159590
2,Sweden,SWE,2004,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,160600
3,Sweden,SWE,2003,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,161700
4,Sweden,SWE,2002,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,162800
5,Sweden,SWE,2001,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,163900
...,...,...,...,...,...,...
74258,Sweden,SWE,1974,Travel services (% of commercial service exports),TX.VAL.TRVL.ZS.WT,12.8600823045268
74259,Sweden,SWE,1973,Travel services (% of commercial service exports),TX.VAL.TRVL.ZS.WT,12.8040973111396
74260,Sweden,SWE,1972,Travel services (% of commercial service exports),TX.VAL.TRVL.ZS.WT,12.7565982404692
74261,Sweden,SWE,1971,Travel services (% of commercial service exports),TX.VAL.TRVL.ZS.WT,12.406576980568
74262,Sweden,SWE,1970,Travel services (% of commercial service exports),TX.VAL.TRVL.ZS.WT,12.0915032679738

In [203]:
df.drop_duplicates(ignore_index=True, inplace = True)

In [204]:
df

,Country Name,Country ISO3,Year,Indicator Name,Indicator Code,Value
0,Sweden,SWE,2005,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,159590
1,Sweden,SWE,2004,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,160600
2,Sweden,SWE,2003,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,161700
3,Sweden,SWE,2002,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,162800
4,Sweden,SWE,2001,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,163900
...,...,...,...,...,...,...
56465,Sweden,SWE,1964,"Net ODA provided, total (constant 2015 US$)",DC.ODA.TOTL.KD,224094000
56466,Sweden,SWE,1963,"Net ODA provided, total (constant 2015 US$)",DC.ODA.TOTL.KD,164526000
56467,Sweden,SWE,1962,"Net ODA provided, total (constant 2015 US$)",DC.ODA.TOTL.KD,135714000
56468,Sweden,SWE,1961,"Net ODA provided, total (constant 2015 US$)",DC.ODA.TOTL.KD,64244000
56469,Sweden,SWE,1960,"Net ODA provided, total (constant 2015 US$)",DC.ODA.TOTL.KD,52758000

In [205]:
test = []
for i in df['Indicator Name'].unique():
    if i in variables:
        test.append(i)
len(test)

66

In [206]:
for i in variables:
    if i not in test:
        print(i)

Central government debt, total (% of GDP)

In [207]:
len(df)

56470

In [208]:
for i,j in df.iterrows():
    if j['Indicator Name'] not in variables:
        df.drop(labels=i, inplace=True)

In [210]:
df

,Country Name,Country ISO3,Year,Indicator Name,Indicator Code,Value
801,Sweden,SWE,2018,Crop production index (2014-2016 = 100),AG.PRD.CROP.XD,64.44
802,Sweden,SWE,2017,Crop production index (2014-2016 = 100),AG.PRD.CROP.XD,103.33
803,Sweden,SWE,2016,Crop production index (2014-2016 = 100),AG.PRD.CROP.XD,96.21
804,Sweden,SWE,2015,Crop production index (2014-2016 = 100),AG.PRD.CROP.XD,103.92
805,Sweden,SWE,2014,Crop production index (2014-2016 = 100),AG.PRD.CROP.XD,99.88
...,...,...,...,...,...,...
56408,Sweden,SWE,1964,"Net ODA provided, total (% of GNI)",DC.ODA.TOTL.GN.ZS,0.176
56409,Sweden,SWE,1963,"Net ODA provided, total (% of GNI)",DC.ODA.TOTL.GN.ZS,0.137
56410,Sweden,SWE,1962,"Net ODA provided, total (% of GNI)",DC.ODA.TOTL.GN.ZS,0.12
56411,Sweden,SWE,1961,"Net ODA provided, total (% of GNI)",DC.ODA.TOTL.GN.ZS,0.059
56412,Sweden,SWE,1960,"Net ODA provided, total (% of GNI)",DC.ODA.TOTL.GN.ZS,0.051

In [211]:
df.reset_index(drop=True, inplace=True)

In [212]:
df

,Country Name,Country ISO3,Year,Indicator Name,Indicator Code,Value
0,Sweden,SWE,2018,Crop production index (2014-2016 = 100),AG.PRD.CROP.XD,64.44
1,Sweden,SWE,2017,Crop production index (2014-2016 = 100),AG.PRD.CROP.XD,103.33
2,Sweden,SWE,2016,Crop production index (2014-2016 = 100),AG.PRD.CROP.XD,96.21
3,Sweden,SWE,2015,Crop production index (2014-2016 = 100),AG.PRD.CROP.XD,103.92
4,Sweden,SWE,2014,Crop production index (2014-2016 = 100),AG.PRD.CROP.XD,99.88
...,...,...,...,...,...,...
2396,Sweden,SWE,1964,"Net ODA provided, total (% of GNI)",DC.ODA.TOTL.GN.ZS,0.176
2397,Sweden,SWE,1963,"Net ODA provided, total (% of GNI)",DC.ODA.TOTL.GN.ZS,0.137
2398,Sweden,SWE,1962,"Net ODA provided, total (% of GNI)",DC.ODA.TOTL.GN.ZS,0.12
2399,Sweden,SWE,1961,"Net ODA provided, total (% of GNI)",DC.ODA.TOTL.GN.ZS,0.059
2400,Sweden,SWE,1960,"Net ODA provided, total (% of GNI)",DC.ODA.TOTL.GN.ZS,0.051

In [213]:
# df.to_csv('Data/Z_Final/indicators_swe.csv')

## Variables not in the list per country

In [19]:
not_aus = ['Central government debt, total (% of GDP)',
'Population living in slums (% of urban population)',
'Marine protected areas (% of territorial waters)']

In [20]:
not_bel = ['Central government debt, total (% of GDP)',
'Population living in slums (% of urban population)']

In [21]:
not_hrz = ['Central government debt, total (% of GDP)',
'Population living in slums (% of urban population)',
'Net ODA provided, total (% of GNI)']

In [22]:
not_cyp = ['Population living in slums (% of urban population)',
'Net ODA provided, total (% of GNI)']

In [23]:
not_cze = ['Population living in slums (% of urban population)',
'Marine protected areas (% of territorial waters)']

In [24]:
not_dnk = []

In [25]:
not_est = ['Central government debt, total (% of GDP)',
'Population living in slums (% of urban population)',
'Net ODA provided, total (% of GNI)']

In [26]:
not_fin = ['Inflation, consumer prices (annual %)',
'Population living in slums (% of urban population)']

In [27]:
not_bgr = ['Central government debt, total (% of GDP)',
'Population living in slums (% of urban population)',
'Net ODA provided, total (% of GNI)']

In [28]:
not_fra = ['Central government debt, total (% of GDP)',
'Population living in slums (% of urban population)']

In [29]:
not_ger = []

In [30]:
not_grc = ['Central government debt, total (% of GDP)']

In [31]:
not_hun = ['Marine protected areas (% of territorial waters)']

In [58]:
not_irl = ['Population living in slums (% of urban population)']

In [59]:
not_ita = ['Population living in slums (% of urban population)']

In [60]:
not_lva = ['Population living in slums (% of urban population)',
'Net ODA provided, total (% of GNI)']

In [100]:
not_ltu = ['Central government debt, total (% of GDP)',
'Population living in slums (% of urban population)',
'Net ODA provided, total (% of GNI)']

In [101]:
not_lux = ['Population living in slums (% of urban population)',
'Marine protected areas (% of territorial waters)',
'Aquaculture production (metric tons)']

In [111]:
not_mlt = ['Population living in slums (% of urban population)',
'Net ODA provided, total (% of GNI)']

In [125]:
not_nld = ['Population living in slums (% of urban population)']

In [139]:
not_pol = []

In [157]:
not_prt = []

In [167]:
not_rou = ['Central government debt, total (% of GDP)',
'Net ODA provided, total (% of GNI)']

In [181]:
not_svk = ['Central government debt, total (% of GDP)',
'Population living in slums (% of urban population)',
'Marine protected areas (% of territorial waters)']

In [195]:
not_svn = []

In [209]:
not_swe = ['Central government debt, total (% of GDP)']

# Create one common Datset

In [11]:
os.chdir('Data')

In [14]:
os.chdir('Z_Final')

In [16]:
all_files = os.listdir()

In [36]:
all_countries = pd.concat(pd.read_csv(i) for i in all_files).reset_index(drop=True).drop('Unnamed: 0', axis=1)

In [ ]:
all_countries.to_csv('Data/Z_Final/indicators_all.csv')

In [37]:
os.chdir('..')

In [38]:
os.getcwd()

'c:\\Users\\carlo\\OneDrive\\Data analyst\\Ironhack\\COURSE\\projects\\Final project_Humanitarian-EU\\Humanitarian-EU\\Data'

In [39]:
all_countries.to_csv('Z_Final_all/indicators_all.csv')